<!DOCTYPE html>
<html>
<head>
    <title>Análisis de sentimiento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <style>
        .title {
            text-align: center;
        }

        .main-text {
            text-align: center;
            font-size: 19px;
        }

        #final-msg {
            text-align: center;
            font-size: 19px;
            font-weight: bold;
        }

        .brd {
            border: 1px solid #000;
            padding: 10px;
            border-radius: 10px;
        }

        .sub-main-text {
            text-align: center;
            font-size: 15px;
            font-style: italic;
        }

        .item-pad {
            margin: 3px 0px 3px 0px; 
        }

        body {
            margin: 12px;
        }

        .lds-facebook {
        display: inline-block;
        position: relative;
        width: 60px;
        height: 60px;
        }
        .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 6px;
        width: 12px;
        background: #000;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
        }
        .lds-facebook div:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
        }
        .lds-facebook div:nth-child(2) {
        left: 24px;
        animation-delay: -0.12s;
        }
        .lds-facebook div:nth-child(3) {
        left: 42px;
        animation-delay: 0;
        }
        @keyframes lds-facebook {
        0% {
            top: 6px;
            height: 48px;
        }
        50%, 100% {
            top: 18px;
            height: 24px;
        }
        }

        #form-analisis textarea {
            /*max-height: 156px;*/
            height: 60px;
        }

        #myChart {
            max-width: 300px;
            height: 300px;
            margin: 10px auto;
            border-radius: 5px;
        }
    </style>
    <h1 class="col-12 title">Análisis de sentimiento</h1>
    <h3 class="col-12 title">Reseñas de películas</h3>
    <p class="col-12 main-text">
        ¡Bienvenido!<br>
        Para utilizar la aplicación puedes hacerlo de dos modos:<br>
    </p>
    <div class="row">
        <div class="col-6">
            <p class="main-text">
                <b>1.</b> Ingresando reseñas en las áreas de texto<br>
                <p class="sub-main-text">
                    <b>1)</b> Presiona el botón "+" para agregar una nueva área de texto<br>
                    <b>2)</b> Presiona el botón "Analizar" para analizar las reseñas ingresadas<br>
                    <b>3)</b> Presiona el botón "Borrar" para borrar las reseñas ingresadas<br>
                </p>
            </p>
        </div>
        <div class="col-6">
            <p class="main-text">
                <b>2.</b> Importando un archivo CSV con las reseñas a analizar:<br>
                <p class="sub-main-text">
                    <b>1)</b> Selecciona el separador del archivo CSV<br>
                    <b>2)</b> Selecciona la columna del archivo CSV que contiene las reseñas<br>
                    <b>3)</b> Presiona el botón "Importar CSV" para seleccionar el archivo CSV<br><br>
                </p>
            </p>
        </div>
    </div>
    <p class="col-12 sub-main-text">
        <b>NOTA</b> Si el archivo CSV tiene un peso mayor a 1MB, no se mostrarán las reseñas en las áreas de texto pero sí se descargará un CSV con los resultados<br>    <br><br>
    </p>
    <form id="form-analisis">
        {% csrf_token %}
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <input type="button" class="item-pad" value="Descargar CSV" onclick="descargarCsv()">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <input type="button" class="item-pad" value="Borrar" onclick="borrarFormulario()">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <input type="button" class="item-pad" value="Importar CSV" onclick="importarCsv()">
            </div>
        </div>
        <div class="row">
            <div class="col-8 d-flex justify-content-center">
                <label for="textos"></label>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <label for="separador">Separador de columnas:</label>
                <select id="separador" class="item-pad" style="width: 40px;text-align: center;margin-left: 7px;height:25px;">
                    <option value=",">,</option>
                    <option value=";">;</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <input type="button" class="item-pad" value="+" style="background-color:chartreuse;" onclick="agregarTexto()">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <input type="submit" class="item-pad" style="background-color: aqua;" value="Analizar" id="analize">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <label for="separador">Columna de reseñas:</label>
                <input type="text" class="item-pad" id="columna" value="review_es" style="width: 100px;text-align: center;margin-left: 7px;height:25px;">
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <label for="textos" style="margin-top: 10px;margin-bottom: 10px;">Ingrese los textos a analizar:</label>
            </div>
        </div>
        <canvas id="myChart" style="display:none"></canvas>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="lds-facebook" style="display:none;text-align: center;"><div></div><div></div><div></div></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <p class="item-pad" id="warning" style="display:none;color:#F6471C">Se excedió el límite de 1MB. Se procesarán y descargarán los resultados en un archivo CSV</p>
            </div>
        </div>
        <textarea name="textos[]" class="item-pad col-12" data-gramm="false" data-gramm_editor="false" data-enable-grammarly="false"></textarea>
        <!--<div class="lds-facebook" style="display:none"><div></div><div></div><div></div></div>-->
        </form>

    <table id="tabla-resultados" style="display:none"> <!-- Para el CSV -->
        <thead>
            <tr>
                <th>texto</th>
                <th>sentimiento</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        var nTexts = 1;

        function agregarTexto() {
            var textarea = document.createElement("textarea");
            textarea.name = "textos[]";
            textarea.className = "item-pad col-12";
            textarea.setAttribute("data-gramm", "false");
            textarea.setAttribute("data-gramm_editor", "false");
            textarea.setAttribute("data-enable-grammarly", "false");
            nTexts++;
            
            /* // Spinner
            var spinner = document.createElement("div");
            spinner.className = "lds-facebook";
            spinner.style.display = "none";
            for (var i = 0; i < 3; i++) {
                var div = document.createElement("div");
                spinner.appendChild(div);
            }*/

            /*if (nTexts > 5) {
                document.querySelector("#form-analisis p").style.display = "block";
                return;
            }*/
            document.querySelector("#form-analisis p").style.display = "none";
            document.querySelectorAll("textarea")[nTexts-2].after(textarea);
            //document.querySelectorAll("textarea")[nTexts-2].after(spinner);
        }

        function descargarCsv(data) {
            var csv = "texto;sentimiento\n";
            if (data) {
                for (var i = 0; i < data.length; i++) {
                    csv += data[i].texto.replace(/(\r\n|\n|\r)/gm, " ").replace(/;/g, ",") + ";" + data[i].sentimiento + "\n";
                }
            } else {
                var rows = document.querySelectorAll("#tabla-resultados tbody tr");
                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].querySelectorAll("td");
                    // cambiar los saltos de línea por espacios y los ; por ,
                    csv += cells[0].textContent.replace(/(\r\n|\n|\r)/gm, " ").replace(/;/g, ",")
                     + ';' + cells[1].textContent + "\n";
                }
            }
            var blob = new Blob([csv], {type: "text/csv"});
            var url = URL.createObjectURL(blob);
            var a = document.createElement("a");
            a.href = url;
            a.download = "resultados.csv";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }

        function importarCsv() {
            var separator = document.querySelector("#separador").value;
            var column = document.querySelector("#columna").value;
            var input = document.createElement("input");

            input.type = "file";
            input.accept = ".csv";
            input.onchange = function() {
                var file = input.files[0];

                var reader = new FileReader();
                reader.onload = function() {
                    var data = {
                        "textos": reader.result,
                        "separador": separator,
                        "nombre_columna": column,
                        "incluir_textos": true
                    }
                    var data = JSON.stringify(data);
                    var datasize = data.length / 1000000;
                    console.log("sending", datasize, "MB");

                    if (datasize > 1) {
                        document.querySelector("#warning").style.display = "block";
                    }
                    showSpinners();

                    var url = window.location.href + "csvtext/";
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", url, true);
                    xhr.setRequestHeader("Content-Type", "application/json");

                    xhr.onreadystatechange = function() {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            var data = JSON.parse(xhr.responseText);
                            if (data.error) {
                                alert(data.error);
                            } else {
                                var info = data.sentimiento;
                                var count = data.conteo;
                                updateChart(count);
                                
                                if (datasize > 1) {
                                    descargarCsv(info);
                                    document.querySelector("#warning").style.display = "none";
                                } else {
                                    borrarFormulario();
                                    for (var i = 0; i < info.length; i++) {
                                        var textareas = document.querySelectorAll("textarea");
                                        var textarea = textareas[i];
                                        textarea.value = info[i].texto;
                                        textarea.style.backgroundColor = info[i].sentimiento == "positivo" ? "#B0E994" : "#E9B794";
                                        if (i < info.length - 1) {
                                            agregarTexto();
                                        }
                                    }
                                    var textareas = document.querySelectorAll("textarea");
                                    for (var i = 0; i < textareas.length; i++) {
                                        if (textareas[i].value == "") {
                                            textareas[i].remove();
                                        }
                                    }
                                }
                                /* Modificar la tabla de resultados, para guardar el CSV */
                                var tbody = document.querySelector("#tabla-resultados tbody");
                                tbody.innerHTML = "";
                                for (var i = 0; i < info.length; i++) {
                                    var tr = document.createElement("tr");
                                    var td1 = document.createElement("td");
                                    var td2 = document.createElement("td");
                                    td1.textContent = info[i].texto;
                                    td2.textContent = info[i].sentimiento;
                                    tr.appendChild(td1);
                                    tr.appendChild(td2);
                                    tbody.appendChild(tr);
                                }
                            }
                        }
                        hideSpinners();
                    }
                    xhr.send(data);
                }
                reader.readAsText(file);
            }
            input.click();

        }

        function borrarFormulario() {
            document.getElementById("form-analisis").reset();

            ctx = document.getElementById('myChart');
            ctx.style.display = "none";

            var textareas = document.querySelectorAll("textarea");
            for (var i = 1; i < textareas.length; i++) {
                textareas[i].remove();
            }
            document.getElementById("tabla-resultados").style.display = "none";
            document.querySelector("#form-analisis textarea").focus();
            document.querySelector("#form-analisis textarea").style.backgroundColor = "white";
            document.querySelector("#form-analisis textarea").style.height = "60px";
            
            document.querySelector("#form-analisis p").style.display = "none";
            nTexts = 1;

            var tbody = document.querySelector("#tabla-resultados tbody");
            tbody.innerHTML = "";
        }

        function showSpinners() {
            var spinners = document.querySelectorAll("#form-analisis .lds-facebook");
            for (var i = 0; i < spinners.length; i++) {
                spinners[i].style.display = "inline-block";
            }
            ctx = document.getElementById('myChart');
            ctx.style.display = "none";
        }

        function hideSpinners() {
            var spinners = document.querySelectorAll("#form-analisis .lds-facebook");
            for (var i = 0; i < spinners.length; i++) {
                spinners[i].style.display = "none";
            }
            ctx = document.getElementById('myChart');
            ctx.style.display = "block";
        }

        function updateChart(count) {
            var myChart = Chart.getChart("myChart");
            myChart.data.datasets[0].data = [count.positivo, count.negativo];
            myChart.update();
        }

        $(document).ready(function() {
            // Change final-msg text by the navigator language
            var lang = navigator.language || navigator.userLanguage;
            console.log(lang);
            if (lang.includes("es")) {
                document.getElementById("final-msg").innerHTML = 'Encuentra el código fuente <a href="https://github.com/t-montes/FilmFeedback" target="_blank">aquí</a>.';
            } else {
                document.getElementById("final-msg").innerHTML = 'Find out the source code <a href="https://github.com/t-montes/FilmFeedback" target="_blank">here</a>.';
            }

            // Create chart
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Positivo', 'Negativo'],
                    datasets: [{
                        label: '%',
                        data: [.5, .5],
                        backgroundColor: [
                            '#B0E994',
                            '#E9B794',
                        ],
                        borderColor: [
                            '#B0E994',
                            '#E9B794',
                        ]
                    }]
                }
            });

            // Define event for submit button
            $("#form-analisis").submit(function(event) {
                event.preventDefault();
                var url = $(this).attr("action");
                var data = $(this).serialize();

                var textos = document.querySelectorAll("#form-analisis textarea");
                /*var spinners = document.querySelectorAll("#form-analisis .lds-facebook");
                for (var i = 0; i < textos.length; i++) {
                    spinners[i].style.display = "inline-block";
                    textos[i].style.backgroundColor = "white";
                }*/
                showSpinners();
                for (var i = 0; i < textos.length; i++) {
                    textos[i].style.backgroundColor = "white";
                }

                $.post(url, data, function(response) {
                    var sentimientos = response.sentimiento;
                    var count = response.conteo;
                    updateChart(count);

                    var textos = document.querySelectorAll("#form-analisis textarea");

                    /* Modificar tabla de resultados, para el CSV */
                    var tablaResultados = document.getElementById("tabla-resultados");
                    // tablaResultados.style.display = "block";
                    tablaResultados.getElementsByTagName("tbody")[0].innerHTML = "";
                    for (var i = 0; i < textos.length; i++) {
                        var tr = document.createElement("tr");
                        var tdTexto = document.createElement("td");
                        tdTexto.textContent = textos[i].value;
                        tr.appendChild(tdTexto);
                        var tdSentimiento = document.createElement("td");
                        tdSentimiento.textContent = sentimientos[i];
                        if (sentimientos[i] == "positivo") {
                            tdSentimiento.style.backgroundColor = "green";
                            tdSentimiento.style.color = "white";
                        } else if (sentimientos[i] == "negativo") {
                            tdSentimiento.style.backgroundColor = "red";
                            tdSentimiento.style.color = "white";
                        } else {
                            tdSentimiento.style.backgroundColor = "yellow";
                        }
                        tr.appendChild(tdSentimiento);
                        tablaResultados.getElementsByTagName("tbody")[0].appendChild(tr);
                    }

                    /* Cambiar el color de cada textarea a verde si es positivo o rojo si es negativo */
                    for (var i = 0; i < textos.length; i++) {
                        if (sentimientos[i] == "positivo") {
                            textos[i].style.backgroundColor = "#B0E994";
                        } else if (sentimientos[i] == "negativo") {
                            textos[i].style.backgroundColor = "#E9B794";
                        } else {
                            textos[i].style.backgroundColor = "#E9E194";
                        }
                    }

                    // Ocultar los spinners
                    hideSpinners();
                    /*  
                    for (var i = 0; i < spinners.length; i++) {
                        spinners[i].style.display = "none";
                    }*/
                });
            });
        });
    </script>
    <p id="final-msg"></p>
</body>
</html>
